#nprogress .bar {
    background: #fff !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}

#nprogress .spinner-icon {
    border-top-color: #fff;
    border-left-color: #fff;
}
